extends layout.pug

block content
  h2 Edit Review
  if error
    p(style="color: red")= error
  form(action=`/reviews/${review.id}/edit`, method="POST")
    label(for="title") Title:
    input(type="text", name="title", id="title", value=review.title, required)
    br
    label(for="author") Author:
    input(type="text", name="author", id="author", value=review.author, required)
    br
    label(for="genre") Genre:
    input(type="text", name="genre", id="genre", value=review.genre)
    br
    label(for="reviewText") Review:
    textarea(name="reviewText", id="reviewText", required)= review.reviewText
    br
    button(type="submit") Update Review
